<!-- Navbar -->
<nav class="bg-gray-900 text-white py-4 shadow-md sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-6 flex justify-between items-center">
      <!-- Logo -->
      <a routerLink="/" class="text-2xl font-bold tracking-wide">TravelGo</a>
  
      <!-- Navigation Links -->
      <ul class="flex space-x-6 text-sm text-gray-300 font-medium">
        <li><a routerLink="/" routerLinkActive="text-white underline" class="hover:text-white">Home</a></li>
        <li><a routerLink="/flights" routerLinkActive="text-white underline" class="hover:text-white">Flights</a></li>
        <li><a routerLink="/packages" routerLinkActive="text-white underline" class="hover:text-white">Packages</a></li>
        <li><a routerLink="/bookings" routerLinkActive="text-white underline" class="hover:text-white">My Bookings</a></li>
        <li><a routerLink="/hotels" routerLinkActive="text-white underline" class="hover:text-white">hotels</a></li>
        <li><a routerLink="/contact" routerLinkActive="text-white underline" class="hover:text-white">Contact Us</a></li>
        <li><a routerLink="/login" routerLinkActive="text-white underline" class="hover:text-white">Logout</a></li>
      </ul>
    </div>
  </nav>
  